@charset "utf-8";
/* CSS Document */

header{
	width: 100%;
	text-align: center;
	height: 55px;
	font-size: 50px;
	background-color: darkcyan;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"

}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	font-size: 60%;
	background-color: gray;
	justify-content: space-around;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

.home{
}

.about{
}

.before-and-after{
}

.Video{
}

.contact{
}

.image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:350px;
	height:300px;
}

.footer{
	width: 100%;
	height: 200px;
	float: left;
	margin-left: 10px;
	margin-right: auto;
	font-family: liebedoris, sans-serif;
	font-style: italic;
	font-size: 40px;
	text-align: center;
	background-color: gray;
}
